{% extends "_base.html" %}
{% block content %}
	
	<h1>Welcome to FlaskTaskr.</h1>
	<h3>Please login to access your task list.</h3>

	<form action="/" method="POST">
		<div class="input-group">
			<label for='username'>Username:</label>
			<input type="text" name="username" class='username' value='{{ request.form.username }}'>
		</div>
		<div class="input-group">
			<label for='password'>Password:</label>
			<input type="text" name="password" class='password' value='{{ request.form.password }}'>
		</div>
		<div class="submit">
			<button type="submit">Login</button>
		</div>
	</form>
	<p><em>Use 'admin' for the username and password. (dead giveaway)</em></p>

{% endblock %}